<h1>
  <%= @topic.name %>
  <% if can? :edit, @topic %>
      <%= link_to "Edit", edit_topic_path(@topic), class: 'btn btn-mini' %>
    <% end %>
</h1>

<div class="row">
  <div class="span8">
    <p class="lead"><%= @topic.description %></p>
    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= image_tag(post.postpic.thumb.url) if post.postpic? %> 
            <%= link_to (markdown post.title), [@topic, post] %>
          </h4>
          <small>
            <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
            submitted <%= time_ago_in_words(post.created_at) %> ago by
            <%= post.user.name %></br>
            <%= post.comments.count %> Comments
          </small>
        </div>
      </div>
    <% end %>
  </div>
  <div class="span4">
    <% if can? :create, Post %>
      <%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-large btn-block' %>
    <% end %>
  </div>
</div>