<h1>
  Newest Posts
</h1>

<div class="row">
  <div class="span8">
    <% @posts.each do |post| %>
      <% topic = post.topic %>
      <div class="media">
        <div class="media-body">
          <% if topic %>
          <% end %>
          <h4 class="media-heading">
            <% if topic %>
              <%= render partial: 'votes/voter', locals: {topic: topic, post: post} %>
<!--               <%= #image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
 -->              <%= link_to (markdown post.title), topic_post_path(topic, post)%>
            <% end %>
          </h4>
          <small>
            submitted <%= time_ago_in_words(post.created_at) %> ago by
            <%= post.user.name %></br>
            <%= post.comments.count %> Comments
          </small>
        </div>
      </div>
    <% end %>
    <%= will_paginate @posts %>
  </div>
</div>